
<!DOCTYPE html>
<html>
      <head>
        <%- include('../partials/headb.ejs') %> 
        <title>DBS iBanking</title>  
<meta property="og:title" content="Secure Online Banking profile">
    </head> 

       <body>
              <header> 
            <div class="pfpenclose">  
                <div class="first">
                <div class="a">
                   <i class="fa fa-bell"></i>  
                  <i class="fas fa-eye-slash"></i> 
                </div> 
                
                  <div class="b">
                    <i class="fa fa-question"></i> 
                    <button>Log out</button>
                  </div> 
                </div> 
                  
             <div class="second"> 
                <p id="mybalance"><span>SGD</span>7,094,387</p>
                <p class="welcm">Welcome to <span>digibank</span></p>
                <p class="wm">Enjoy the faster and more convenient way to bank on the go</p>
             </div>
            </div>  
              </header>    

              <div class="quick"> <p>Quick Links</p> <i class="fas fa-link"></i>  </div>  

              <div class="overall">

                  <div>
                      <i class="fa fa-globe"></i> 
                     <p>Transfer Overseas</p>
                  </div>  

                  <div>
                    <i class="fas fa-exchange-alt"></i> 
                    <p>Local Transfer</p>
                 </div>   

                 <div>
                  <i class="fa fa-credit-card"></i> 
                    <p>Card</p>
                 </div>  

                 <div>
                  <i class="fas fa-money-bill-wave"></i> 
                    <p>Bills</p>
                 </div>  
 
                 <div>
                  <i class="fas fa-ellipsis-h"></i> 
                    <p>More</p>
                 </div>
                
              </div>  


                <div class="acch">
                     <div id="acct">Accounts</div> 
                     <div id="hist">History</div>
                </div>

              <div class="acctandins"> 

          <div class="deposits">
            <div class="dfa">
                <div class="dep">Deposits</div> 
                <i class="fa fa-sortdown"></i>
            </div>  

            <div class="dfab">
                <p>Balance</p>
            </div>  

            <div class="dfac">
              <p><span>SGD</span>10,924.00</p>
          </div>  
      </div>


      <div class="deposits">
        <div class="dfa">
            <div class="dep">Card</div> 
            <i class="fa fa-sortdown"></i>
        </div>  

        <div class="dfab">
            <p>Balance</p>
        </div>  

        <div class="dfac">
          <p><span>SGD</span>10,924.00</p>
      </div>  
  </div>


  <div class="deposits">
    <div class="dfa">
        <div class="dep">Investments</div> 
        <i class="fa fa-sortdown"></i>
    </div>  

    <div class="dfab">
        <p>Balance</p>
    </div>  

    <div class="dfac">
      <p><span>SGD</span>10,924.00</p>
  </div>  
</div>  

<div class="deposits">
    <div class="dfa">
        <div class="dep">Insurance</div> 
        <i class="fa fa-sortdown"></i>
    </div>  

    <div class="dfab">
        <p>Balance</p>
    </div>  

    <div class="dfac">
      <p><span>SGD</span>10,924.00</p>
  </div>  
</div> 
    </div>  


      
    <div class="transaction-container" style="display:none">
        <div class="transaction">
          <div class="transaction-header">Transaction</div>
          <div class="transaction-details">
            Date: 2024-11-13 <br>
            Description: Payment for service <br>
            Status: Completed
          </div>
          <div class="transaction-footer"><span>SGD</span>150,790.00</div> 
        </div>
    
        <div class="transaction">
          <div class="transaction-header">Transaction</div>
          <div class="transaction-details">
            Date: 2024-11-12 <br>
            Description: Purchase of goods <br>
            Status: Completed
          </div>
          <div class="transaction-footer"><span>SGD</span>7,500,300.00</div>
        </div>
      </div> 
        

      <div class="footer"> 
        <div class="links">
          <div><p>Terms & Conditions</p></div> 
          <div><p>Privacy Policy</p></div>
          <div><p>Fair Dealing Commitment</p></div> 
          <div><p>Compliance with Tax Requirements</p></div> 
          <div><p>Vulnerability Disclosure Policy</p></div>
          <div><p>©2024 DBS Bank Ltd. Co. Reg. No. 196800306E</p></div> 
         </div>  

          <div class="icons">
            <i class="fab fa-facebook"></i> 
            <i class="fa fa-twitter"></i> 
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube"></i>   
          </div>
    </div>
              
       </body>
</html>